/*
 * This file contains project overrides for variables defined in the theme.
 *
 * Fonts are imported in `fonts.scss`; font-family variables are defined here.
 *
 * Colors were adapted from property documents and an online theme generator.
 * Online Theme: https://www.colorcombos.com/color-schemes/79/ColorCombo79.html
 */

// Fonts
$font-family--headers: 'Nunito', sans-serif
$font-family--content: 'EB Garamond', serif


// Colors
$primary-color: #13294b
$secondary-color: #007fae
$primary-dark: #151515
$secondary-dark: #767676
$primary-light: #f7f7f7
$secondary-light: #cecece
// Colors adapted from https://htmlcolors.com/brand-color/university-of-north-carolina


// Shortcodes
$gallery-mini--flex-basis: 26%

//Sizes
$header-logo--width: 200px

// Breakpoints
$breakpoint--header: 980px
$breakpoint--content: 950px
