/* Buttons */
.Button {
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  line-height: 1.4em;
  margin: 1em;
  display: inline-block;
  cursor: pointer;
}

.Button.Button--Bold {
  border: 2px solid #d16d5a;
  border-radius: 300px;
}
.Button.Button--Bold:hover {
  background-color: #d16d5a;
}

.Button.Button--Dark {
  padding: 1em 2em;
  color: rgba(252, 251, 248, 0.8);
  background-color: #3c4c5c;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.2s linear;
}
.Button.Button--Dark:hover {
  color: rgba(252, 251, 248, 1);
}
