/* Footer */
footer {
  font-family: 'Nunito', sans-serif;
  margin-top: 4em;
  padding: 2em;
  background-color: #3c4c5c;
}

.FooterContent {
  max-width: 1023px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 400;
  color: rgba(252, 251, 248, 0.6);
}

.FooterContent .FooterContent--Bold {
  font-weight: 600;
  color: rgba(252, 251, 248, 1);
}

.FooterContent .FooterContent--Large {
  font-size: 1.125em;
}

.FooterContent .FooterContent--Normal {
  text-decoration: none;
  color: rgba(252, 251, 248, 0.6);
}
