/* Header */
header {
  font-family: 'Nunito', sans-serif;
  background-color: #3c4c5c;
  padding: 0 20px;
}

header.HeaderContent--Long {
  height: 325px;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
}

.HeaderContent {
  display: flex;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}

.HeaderContent .HeaderContent__HomeLink {
  max-width: 240px;
}

.HeaderContent h1 {
  font-size: 18px;
  line-height: 1em;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  color: #fcfbf8;
  text-shadow: 1px 1px #3c4c5c;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

/* Desktop Menu */
.HeaderContent .HeaderContent__MenuLinks {
  display: block;
}

.HeaderContent .HeaderContent__MenuLinkContainer {
  position: relative;
  display: inline-block;
}

.HeaderContent .HeaderContent__MenuLink {
  font-size: 16px;
  line-height: 1em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0px;
  color: rgba(252, 251, 248, 0.6);
  text-shadow: 1px 1px #3c4c5c;
  margin: 0;
  padding: 8px 12px;
  white-space: nowrap;
  transition: all 0.2s linear;
}
.HeaderContent .HeaderContent__MenuLink:hover,
.HeaderContent .HeaderContent__MenuLink.HeaderContent--Active {
  color: rgba(252, 251, 248, 1);
}

.HeaderContent .HeaderContent__MenuChildren {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  overflow: hidden;
  margin: 1.5em 0;
  line-height: 2em;
  background-color: #3c4c5c;
  transition: height 0.2s linear;
}
.HeaderContent .HeaderContent__MenuLinkContainer:hover .HeaderContent__MenuChildren {
  height: 6em;
}

.HeaderContent .HeaderContent__MenuChild {
  line-height: 1.5em;
}

/* Mobile Menu */
.HeaderContent .HeaderContent__MobileMenu {
  display: none;
}

.HeaderContent .HeaderContent__MobileMenuInput {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  opacity: 0;
  pointer-events: none;
}

.HeaderContent .HeaderContent__HamburgerContainer {
  display: block;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.HeaderContent .HeaderContent__HamburgerContainer .HeaderContent__Hamburger {
  position: relative;
  top: 13px;
  left: 2.5px;
}
.HeaderContent .HeaderContent__HamburgerContainer .HeaderContent__Hamburger:before {
  content: "";
  position: absolute;
  top: -7px;
}
.HeaderContent .HeaderContent__HamburgerContainer .HeaderContent__Hamburger:after {
  content: "";
  position: absolute;
  top: 7px;
}
.HeaderContent .HeaderContent__HamburgerContainer .HeaderContent__Hamburger,
.HeaderContent .HeaderContent__HamburgerContainer .HeaderContent__Hamburger:before,
.HeaderContent .HeaderContent__HamburgerContainer .HeaderContent__Hamburger:after {
  height: 2px;
  width: 25px;
  background-color: #fcfbf8;
  transition: all 0.2s linear;
}

.HeaderContent .HeaderContent__MobileMenuInput:checked + .HeaderContent__HamburgerContainer .HeaderContent__Hamburger {
  background-color: rgba(252, 251, 248, 0);
}
.HeaderContent .HeaderContent__MobileMenuInput:checked + .HeaderContent__HamburgerContainer .HeaderContent__Hamburger:before {
  transform: rotate(45deg);
  transform-origin: 4px 6px;
}
.HeaderContent .HeaderContent__MobileMenuInput:checked + .HeaderContent__HamburgerContainer .HeaderContent__Hamburger:after {
  transform: rotate(-45deg);
  transform-origin: 5px -3px;
}

.HeaderContent .HeaderContent__MobileMenuContent {
  display: none;
  position: absolute;
  top: 5em;
  left: 0;
  width: 100%;
  background-color: #3c4c5c;
  padding: 0 1em 1em 0;
}
.HeaderContent .HeaderContent__MobileMenuInput:checked ~ .HeaderContent__MobileMenuContent {
  display: flex;
}
.HeaderContent .HeaderContent__MobileMenuContent .HeaderContent__MenuLinkContainer {
  display: block;
  margin: 0.5em;
}
.HeaderContent .HeaderContent__MobileMenuContent .HeaderContent__MenuChild {
  padding-left: 2em;
}
.HeaderContent .HeaderContent__MobileMenuForceRight {
  flex-grow: 1;
}

@media (max-width: 1023px) {
  .HeaderContent .HeaderContent__MenuLinks {
    display: none;
  }
  .HeaderContent .HeaderContent__MobileMenu {
    display: block;
  }
}
