/* Non-Navigation */
.clickable {
  cursor: pointer;
}

/* Navigation */
nav {
  position: fixed;
  height: 60px;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  background-color: blue;
}
.Navigation__Opener {
  display: none;
}


@media (max-width: 1000px) {
  #ShowNavigation:checked + label[for="ShowNavigation"] + nav {
    display: block;
  }

  #ShowNavigation:checked + label[for="ShowNavigation"] + nav ~ * {
    transform: translateX(-330px);
  }
}
